#container {
  display: flex;
  flex-direction: row;
}

#left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#menu {
}
#editor {
  height: 300px;
}
#right {
  width: 20%;
  flex-grow: 0;
}

#hint {
}
body {
    background: #333;
    color: #eee;
    padding: 2em;
}
.CodeMirror { height: 100%; }
