#container {
  display: flex;
  flex-direction: row;
}

#left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 80%;
  margin-right: 2em;
}

#results table th, #results table td, #results table td pre {
  font-size: 12px;
  font-family: monospace;
}

#results td, #results th {
  vertical-align: top;
}

#results {
  overflow: hidden;
}

#menu {
    padding: 5px 0 15px;
}

#menu a {
  font-weight: bold;
  display: inline-block;
  margin-right: 2.5em;
  vertical-align: middle;
}

#menu h3 {
}

#editor {
  height: 300px;

}

#right {
  padding-top: 5px;
  width: 20%;
  flex-grow: 0;
}

#right .item {
  display: block;
  color: #555;
  padding: 5px 0px;
  text-decoration: none;
  border-bottom: 1px solid #ddd
}

#right .item:hover{
  text-decoration: none;
  background-color: #f1f1f1;
}

#hint {
  margin: 1em 0;
  display: flex;
  justify-content: flex-end;

}

body {
  padding: 5px 20px;
}
.CodeMirror { height: 100%; }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F5F8FA;
}
